* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app-footer {
    background-color: #424752;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
.app-footer p {
    margin: 0;
    font-size: 16px;
}
.app-footer a {
    color: #fff;
    text-decoration: none;
}
.app-footer a:hover {
    text-decoration: underline;
}
.app-footer a:visited {
    color: #fff;
}
.app-footer a:active {
    color: #fff;
}
.app-footer a:hover {
    text-decoration: underline;
}